.container {
    column-count: 3;
  }

  div{
      text-align: center;
  }
div.tamanho{
    margin-left: 30%;
    margin-right: 30%;
}
  h1.trata_texto{
    font-size:5rem;
  }

  img.trata_imagem{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  img.trata_imagem2{
    width: 6em;
  }
  img.flutua{
      float: left;
        margin: 0;
        }
  #item8 {
    font-size:2rem;
    padding-top: 10px;
  }

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
